html, body{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 500px) {
    *{
      flex-direction: column;
    }
  }

a:link, a:visited{
    text-decoration: none;
    color: #F9FAF8;
}
a:hover, a:active{
    text-decoration: underline;
}
.main-header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}
.top-header{
    padding: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-top-header{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    flex: 3;
}

.right-top-header{
    display: flex;
    justify-content: space-between;
    flex: 5;
}

.bottom-header{
    color: #F9FAF8;
    display: flex;
    padding: 25px;
    justify-content: center;
    gap: 26px;
    align-items: center;
}

.left-bottom-header{
   
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}
img{
    max-width: 50vw;
    
}

.right-bottom-header{
    justify-content: center;
    padding: 150px;
    padding-right: 30px;
    padding-left: 30px;
}

.bot-head-text{
    font-size: 22px;
}

ul{
    list-style: none;
} 

.bot-head-title{
    font-size: 48px;
    font-weight: extra-bold;
}

.bot-head-button{
    align-self: center;
}

.button{
    background-color: blue;
    
}