html, body{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 500px) {
    *{
      flex-direction: column;
    }
  }

a:link, a:visited{
    text-decoration: none;
    color: #F9FAF8;
}
a:hover, a:active{
    text-decoration: underline;
}
.main-header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}
.top-header{
    padding: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-top-header{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    flex: 3;
}

.right-top-header{
    display: flex;
    justify-content: space-between;
    flex: 5;
}

.bottom-header{
    color: #F9FAF8;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    gap: 26px;
    align-items: center;
}

.left-bottom-header{
   
    display: flex;
    flex-flow: column wrap;
    word-wrap: break-word;
    flex: 1, 1, 1;
}
.right-button-header{
    flex: 1, 1, 1;
    max-width: 100%;
}


img{
    max-width: 45vh;
    max-height: auto;
}